body, html{
    padding: 0;
    margin: 0px;
    font-family: verdana,sans-serif;
}
main{
    width: 100%;
    display: inline-block;
}
.navbar{
    width: 100%;
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 2px solid linear-gradient(to right, #B06AB3, #4568DC);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
    margin: 0px;
}
.navbar > ul{
    margin: 0px;
    padding: 0px;
}
.navbar > ul li{
    display: inline-block;
}
.navbar > ul li a{
    text-decoration: none;
    color: #fff;
    width: 120px;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    position: relative;
}
.navbar > ul li a::before {
    background: #fff none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 0%;
    transition: 0.5s;
}
.navbar > ul li a:hover::before{
    width: 100%;
}
body {
    background-image: url(image/BG1.jpg);
    height: 100
}

td {
    border: 8px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 70px;
    cursor: pointer;
}
table {
    margin: auto ;
    border-collapse: collapse;
}
table tr:first-child td {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child {
    border-left: 0;
}
table tr td:last-child {
    border-right: 0;
}
.game{
}
#content {
    color: blue;
    font-size: 40px;
    text-align: center;
}
h1 {
    color: #5795ee;
    font-size: 20px;
}
.bt {
    height: 60px;
    width: 60px;
    text-align: center;
    align-content: center;
}
.img {
    height: 70px;
    width: 70px;
    text-align: center;
    align-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer ;
}

#content {
    margin-top: 100px;
    width: 45%;
    margin-left: 30px;
    height: 400px;
}

#smiley {
    text-align:center ;
    position:fixed;
    top:150px;
    right:100px;
    opacity: 30%;
    height: 400px;
    width: 400px;

}
#cssHead {
    margin: 20px auto;
    width: 300px;
    background-color: #ffff80;
    height: 300px;
    -webkit-border-radius: 700px;
    border-radius: 700px;
    border: 3px solid #000;
    -moz-transform: rotate(-2deg) skew(-3deg, -2deg);
    -webkit-transform: rotate(-2deg) skew(-3deg, -2deg);
    -o-transform: rotate(-2deg) skew(-3deg, -2deg);
    -ms-transform: rotate(-2deg) skew(-3deg, -2deg);
    transform: rotate(-2deg) skew(-3deg, -2deg);
}
.blush{
    background-color: red;
    -webkit-border-radius: 40px;
    border-radius: 30px;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
.cssEye {
    display: inline-block;

}
.cssPupil {
    width: 20px;
    background: #000;
    height: 20px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
.cssEyeLid {
    background-color: #fff;
    border: 1px solid #000;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    overflow: hidden;
    height: 30px;
    margin: 0;
}



.left {
    margin: 00px 10px 0px 140px;

}
.rightEye {
    margin: 20px;
}
.leftEye {
    margin-bottom: 0px;
    margin-left: 30px;
    margin-top: 80px;
}
.cssMouth {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 4px solid #000;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    height: 20px;
    width: 70px;
}

/*CSS head animation BEGIN*/
#cssHead {
    -webkit-animation: headRotations 10s infinite;
    animation: headRotations 10s infinite;
}

@keyframes headRotations {
    0% {    transform: rotate(-2deg) skew(-3deg, -2deg);    }
    20% {   transform: rotate(2deg) skew(-3deg, -2deg);     }
    25% {   transform: rotate(-4deg) skew(-3deg, -2deg);    }
    28% {   transform: rotate(-2deg) skew(-3deg, -2deg);    }
    40% {   transform: rotate(-2deg) skew(-3deg, -2deg);    }
    50% {   transform: rotate(2deg) skew(-3deg, -2deg);     }
    60% {   transform: rotate(-6deg) skew(-3deg, -2deg);    }
    70% {   transform: rotate(6deg) skew(-3deg, -2deg);     }
    90% {   transform: rotate(6deg) skew(-3deg, -2deg);     }
    100% {  transform: rotate(-2deg) skew(-3deg, -2deg);    }
}
/*CSS head animation END*/
/*CSS pupils animation BEGIN*/
.cssPupil {
    -webkit-animation: lookingAround 20s infinite;
    animation: lookingAround 20s infinite;
}

@keyframes lookingAround {
    0% {    margin: 6px 0px 3px 8px;    }
    10% {   margin: 6px 0px 3px 8px;    }
    12% {   margin: 6px 8px 3px 0px;    }
    27% {   margin: 6px 8px 3px 0px;    }
    30% {   margin: 6px 0px 3px 8px;    }
    40% {   margin: 6px 0px 3px 8px;    }
    43% {   margin: 1px 0px 8px 8px;    }
    46% {   margin: 6px 0px 3px 8px;    }
    57% {   margin: 6px 0px 3px 8px;    }
    60% {   margin: 6px 8px 3px 0px;    }
    63% {   margin: 6px 0px 3px 8px;    }
    77% {   margin: 6px 0px 3px 8px;    }
    80% {   margin: 6px 4px 3px 4px;    }
    85% {   margin: 6px 4px 3px 4px;    }
    88% {   margin: 6px 0px 3px 8px;    }
    92% {   margin: 6px 0px 3px 8px;    }
    100% {  margin: 6px 0px 3px 8px;    }
}
/*CSS pupils animation END*/
/*CSS blinking BEGIN*/
.cssEyeLid {
    -webkit-animation: blinkingEye 7s infinite;
    animation: blinkingEye 7s infinite;
}
¡
@keyframes blinkingEye {
    0% {    height: 20px;   margin: 0;  }
    58% {   height: 20px;   margin: 0;  }
    60% {   height: 0px;    margin: 10px 0; }
    66% {   height: 20px;   margin: 0;  }
    100% {  height: 20px;   margin: 0;  }
}
/*CSS blinking END*/
/*CSS smiling animation BEGIN*/
.cssMouth {
    -webkit-animation: smilingMouth 8s infinite;
    animation: smilingMouth 8s infinite;
}

@keyframes smilingMouth {
    0% {    height: 20px;   border-bottom: 3px solid #000;  margin: 0px auto 0;     }
    20% {   height: 35px;   border-bottom: 30px solid #000;  margin: -10px auto 0;   }
    80% {   height: 35px;   border-bottom: 30px solid red  ;  margin: -10px auto 0;   }
    100% {  height: 20px;   border-bottom: 3px solid #000;  margin: 0px auto 0;     }
}
/*CSS smiling animation END*/